# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Environment / Secrets
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db
